
body{

background-color:rgb(38, 39, 36);
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 55px;

}

.order h1 span{
    color: red;
    margin-right: 17px;
    font-family:mv boli;
}

.order h1 span::after{
    content: '';
    width: 100%;
height: 2px;
background: red;
display: block;
position: relative;
bottom: 15px;}

.order .order_main{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.order .order_main .order_image img{
    width: 450px;
}

.order .order_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.order .order_main form .input p{
    line-height: 25px;
}


.order .order_main form .input{
    margin: 5px;
}

.order .order_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.order .order_main form .input input:focus{
    border: 2px solid black;
}

.order .order_main form .order_btn{
    padding: 10px 0;
    background: red;
    color: white;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 260px ;
}













