body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    
  background:url("Images/food\ bg\ img2.avif")no-repeat;
   background-size: cover;
   background-position: center;}
  
  .action{
    width: 390px;
    background:black;
    color:white;
    border-radius: 12px;
    padding: 35px 10px;
  
    
  }
  
    
  
  .action h1{
    font-size: 40px;
    text-align: center;
    
  }
  
  .action.input-box{
    width: 390%;
    height: 30px;         
  }

    .input-box{
padding: 10px;
    }
    .input-box label{
        padding: 30px;
        font-size: 20px;
    }


  
  .input-box input{
    width: 100%;
    height: 0px;
    border: none;
    outline: none;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
   color: black;

    padding: 25px 50px 20px 40px;
    
    
    
  
  }
  .input-box input::placeholder{
    color:gray;
  }
  
  
  .remebre-forgot a:hover{
    text-decoration: underline;
  
  }
  
  .action .btn{
    width: 100%;
    height: 45px;
    background: #ee0f0f;
    border: none;
    outline: none;
    border-radius: 48px;
    box-shadow: 40px;
    cursor:pointer;
    font-size: 20px;
    color: grey;
    font-weight: 600;
    margin-top: 40px;
  }
  
  .act .resister-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -10px;

  }
  
  .resister-link p {
    color:rgb(241, 240, 240);
    text-decoration: none;
    font-weight: 600;
    margin-left: 60px;
  
  }
  
  .resister-link p a{
    color:rgb(241, 240, 240);
    text-decoration: none;
    font-weight: 600;
    
    margin-left: 5px;
  }
    
  .resister-link p a:hover{
    text-decoration:underline;
  
  }
    
    