
    body{
        
        background-color:black;
    }
nav {
    display: flex;
    justify-content: space-between;
    color: rgba(250, 10, 10, 0.801);
    margin-left: 30px;
    font-size: 22px;
}




ul {
    display: flex;
    cursor: pointer;


}

 ul li {
    list-style: none;
    margin-inline: 40px;
    color: white;
}



.btn button {
    width: 100px;
    height: 36px;
    border: 3px solid rgba(250, 10, 10, 0.801);
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
}



.main-div {
    display: flex;
    justify-content: space-between;
    color: white;
}

.main-div .head h1 {
    font-size: 100px;
    margin-left: 30px;
}

.main-div .head h2 {
    font-size: 100px;
    margin-left: 90px;
    margin-top: -60px;
}

.main-div .head h3 {
   padding: 10px;

}



button {
    width: 180px;
    height: 45px;
    background-color: rgba(250, 10, 10, 0.801);
    color: white;
    font-size: 25px;
    border-radius: 110px;
    margin-left: 210px;
}

.head button:hover {
    background-color: black;
    border: 2px solid rgba(250, 10, 10, 0.801);
    cursor: pointer;
}



.img img {
    margin-right: 10px;
    width: 570px;
    height: 450px;

}




.menu{
    width: 100%;
    padding: 70px 0;

}
.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: white;

}

.menu h1 span{
    color: red;
    margin-left: 15px;
    font-family: mv boli;
}


.menu h1 span::after{
    content:'';
    width:100%;
    height: 2px;
    background:red;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:15px ;

}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px white;
    height: 375px;

}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    overflow: hidden;
    margin-left:10px;
}


.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);


}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: antiquewhite;
}


.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
    color: white;
    
}

.menu .menu_box .menu_card .menu_info h3 strike{
    font-size: 13px;
    color: beige;
}


.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: red;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
    
}








.head h2{
    font-size: 55px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: px;
color: white;
margin-right: 20px;

}

.head h2 span{
color: red;
font-family: mv boli;
text-align: 20px;
margin-right: 15px;
}


.head h2 span::after{
content:'';
width:100%;
height: 2px;
background:red;
display: block;
position: relative;

bottom: 15px;}





.act{
    width: 690px;
    background: rgb(48, 47, 47);
    color:white;
    border-radius: 12px;
    padding: 35px 10px;
  margin-left: 250px;
    
  }
  
    
  
  .act h1{
    font-size: 40px;
    text-align: center;
    
  }
  
  .act .input-box {
    width: 100%;
    height: 30px; 
    
    margin: 70px 0;
  }
  
  .input-box input{
    box-sizing: border-box;        

    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
   color: black;
    padding: 20px 45px 20px 20px;
    
    
    
  
  }
  .input-box input::placeholder{
    color:gray;
  }
  
  
  
  
  .act .btn{
    width: 50%;
    height: 45px;
    background: #ee0f0f;
    border: none;
    outline: none;
    border-radius: 48px;
    box-shadow: 40px;
    cursor:pointer;
    font-size: 20px;
    color: grey;
    font-weight: 600;
    margin-left: 160px;
  }


  

    
  .content-text{
    margin-bottom: 60px;
    margin-left: 510px;
}

.content-text h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0px 1px 1px white;
    color: white;
}

.content-text h2 span{
    color: white;
    font-size: 60px;
}

.content-text p{
    font-weight: bold;
    
}

.list{
    margin-bottom: 50px;
}



.list li a{
    color: green;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
    display: block;
    font-size: 25px;
}















html{
    scroll-behavior: smooth;

}

.arrow{
    position: fixed;
    background-color: aqua;
    border-radius: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}














